<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="{{ "/assets/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/retina-1.1.0.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/jquery.hoverdir.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/jquery.hoverex.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/jquery.prettyPhoto.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/jquery.isotope.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/handlebars.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/custom.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/twitch.js" | prepend: site.baseurl }}"></script>

{% if site.analytics %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '{{ site.analytics }}', 'auto');
  ga('send', 'pageview');

</script>
{% endif %}
<script>
// Portfolio
(function($) {
	"use strict";
	function initializePortfolio(target) {
		var $container = target;
		var $items = $container.find('.portfolio-item'),
		portfolioLayout = 'fitRows';
			
		if( $container.hasClass('portfolio-centered') ) {
			portfolioLayout = 'masonry';
		}

		$container.isotope({
			filter: '*',
			animationEngine: 'best-available',
			layoutMode: portfolioLayout,
			animationOptions: {
			duration: 750,
			easing: 'linear',
			queue: false
		},
			masonry: {
			}
		}, refreshWaypoints());
		
		function refreshWaypoints() {
			setTimeout(function() {
			}, 1000);   
		}

		$('nav.portfolio-filter ul a').on('click', function() {
				var selector = $(this).attr('data-filter');
				$container.isotope({ filter: selector }, refreshWaypoints());
				$('nav.portfolio-filter ul a').removeClass('active');
				$(this).addClass('active');
				return false;
		});
		$container.imagesLoaded(function () { 
			setPortfolio($container);
		});
	}

	function setPortfolio($container) { 
		$container.isotope('reLayout');
	}

	function onNowPlayingFetched(response) {
		var source   = $("#nowplaying-template").html();
		var template = Handlebars.compile(source);
		$('.now-playing').html(template(response));
		initializePortfolio($('.now-playing'));
	}

	function onFriendsFetched(response) {
		var source   = $("#friends-template").html();
		var template = Handlebars.compile(source);
		$('.friends').html(template(response));
		initializePortfolio($('.friends'));
	}

	function fetchNowPlaying() {
		$.getJSON('http://api.probableprime.co.uk/api/nowplaying').done(onNowPlayingFetched);
	}
	function fetchFriends() {
		$.getJSON('http://api.probableprime.co.uk/api/friends').done(onFriendsFetched);
	}
	

	$(window).on('resize', function () { 
		setPortfolio($('.friends'));
		setPortfolio($('.now-playing'));
	});
	function onTwitchStatus(status) {
		console.log('BISJDFOIJfsjif');
		console.log(status);
		if(status) {
			$('.twitch-offline').hide();
			$('.twitch-live').show();
			$('.twitch-toggle').toggle('show');
		} else {
			$('.twitch-live').hide();
			$('.twitch-offline').show();
		}
	}
	function checkTwitch() {
		jekyllTwitch.isOnline('{{site.twitch.channel}}').done(onTwitchStatus);
	}
	window.setInterval(10*1000,checkTwitch);
	if($('.twitch-toggle')) {
		checkTwitch();
		fetchNowPlaying();
		fetchFriends();

		var target = $('.twitch-toggle');
	    target.collapse();
	    $('#headerwrap').on('hidden.bs.collapse', toggleTwitch);
	    $('#headerwrap').on('shown.bs.collapse', toggleTwitch);
	    console.log(target);
	}

	function toggleTwitch(e) {
		console.log(e)
		var target = $('.twitch-toggle');
		var $toggle = $(target).closest('.twitch-toggle');
		console.log($toggle);
		if(e.type === 'hidden') {
			$toggle.find('.fa').removeClass('fa-chevron-up').addClass('fa-chevron-down');
		} else if (e.type ==='shown') {
			$toggle.find('.fa').removeClass('fa-chevron-down').addClass('fa-chevron-up');
		}
	}
})(jQuery);
</script>