<div id="portfoliowrap">
    <div class="portfolio-centered">
        <h3>Now Playing</h3>
        <div class="recentitems portfolio">
        </div>
    </div>
</div>
<script id="portfolio-template" type="text/x-handlebars-template">
{% raw %}
    {{#each games}}
        <div class="portfolio-item graphic-design">
            <div class="he-wrap tpl6">
            <img src="{{box.cached}}" alt="">
                <div class="he-view">
                    <div class="bg a0" data-animate="fadeIn">
                        <h3 class="a1" data-animate="fadeInDown">{{ name }}</h3>
                        <a href="" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a>
                    </div><!-- he bg -->
                </div><!-- he view -->
            </div><!-- he wrap -->
        </div><!-- end col-12 -->
    {{/each}}
{% endraw %}
</script>